
@font-face {
  font-family: 'Glacial-Indifference-Regular';
  src:url('./assets/fonts/Glacial-Indifference-Regular.ttf.woff') format('woff'); 
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Glacial-Indifference-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
}
